<mat-toolbar>
  <mat-toolbar-row class='title'>
     <mat-icon>face</mat-icon> Moradores
  </mat-toolbar-row>
  <mat-toolbar-row>
  
    <table mat-table [dataSource]="dataSource"> 
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let user"> {{user.status}} </td>
    </ng-container>

    <ng-container matColumnDef="car">
        <th mat-header-cell *matHeaderCellDef> Carro </th>
        <td mat-cell *matCellDef="let user"> {{user.car}} </td>
    </ng-container>
  </table>

  </mat-toolbar-row> 
  <mat-toolbar-row class='botao'>
      <button mat-button><span class='title-bt'>+ Morador</span> <mat-icon class='ico-bt'>person</mat-icon></button>   
      <button mat-button><span class='title-car'>+ Veiculo</span> <mat-icon class='ico-car'>airport_shuttle</mat-icon></button>
    </mat-toolbar-row>
<mat-toolbar>


